# Arquivos do Node.js
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Arquivos de Build
/frontend/dist/
/backend/dist/

# Arquivos de Ambiente (MUITO IMPORTANTE)
# Nunca envie segredos para o GitHub!
.env

# Arquivos de OS (Mac/Windows)
.DS_Store
Thumbs.db